{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Add Logs</h1>
  <p class="lead">Use this page to add logs for today: ({{ date }})</p>
  <hr class="my-4">
  <p>To add logs, click on Add and enter your details, the date is preselected as today.</p>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addlogModal">
    Add Log
  </button>
</div>
<form class="" method="post">
  {{ form.hidden_tag() }}
  {{ form.id.label }} {{ form.id() }}
  {{ form.submit() }}
</form>
{% endblock %}
